<%# <h1>Your lists</h1> %>
<header>

</header>
<div class="sticky-top bg-white hidden-spacer"> </div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://assets.lls.fr/pages/6903255/PC.1.17.ENT.ProjecteurCinema-retouche.jpg);">
  <div class="container text-light d-flex justify content-center">
    <div class="text " style="margin-bottom: 50px;">
      <h2>Share your experience Movie lovers for passionate people!</h2>
      <p>Change your life and find films you love.</p>
    </div>
  </div>
</div>

<div class=" row mx-auto gx-5 d-flex justify-content-center align-items-center" style="width: 80%;margin-top: 15px;">
  <% @lists.each do |list| %>
       <div class="card-category col-3 card bg-light d-flex align-items-center p-3 img-thumbnail text-light mx-3" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : asset_path('background.jpg') %>)">
        <%# <div class="card-image-top mg-fluid" alt="Responsive image"> %>
          <%# <%= cl_image_tag list.photo.key, height: 300, crop: :fill %>
        <%# </div> %>
      <%# <div class="infos pt-4"> %>
        <h5><%= list.name %></h5>
      <%# </div> %>
      <%# <div class="ist-group-item m-3 d-flex justify-content-center"> %>
      <div class="butt d-flex justify-content-end align-items-end">
        <%= link_to list_path(list) do %>
          <i class="fa-solid fa-eye align-items-start"></i>
          <% end %>
      <%# </div> %>
        <%= link_to list_path(list),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-solid fa-trash text-light d-flex justify-content-end align-items-end"></i>
         <% end %>
      </div>
       </div>
  <% end %>
</div>
